
main {
  margin: 30px;
}

mat-toolbar a {
  color: white;
}

.sidenav-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .search-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.search-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.SearchBar {
  flex: 1;
  /*max-width: 800px;*/
  background-color: white;
  align-self: center;
  border-radius: 5px;
}

.enter-animation {
  animation: slide-fade 500ms;
}

.leaving {
  animation: slide-fade-out 500ms;
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

mat-form-field {
  margin-right: 8px;
  vertical-align: middle;
}

mat-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.black {
  color:black;
}
