<div [formGroup]="form" class="course-details-form">

  <mat-form-field appearance="fill" floatLabel="auto">

    <mat-label>Bild Titel</mat-label>
    <input matInput formControlName="title" #title>

    <mat-hint align="end">
      {{ title.value.length }} / 60
    </mat-hint>

    @if (imageTitle.errors?.['minlength']) {
      <mat-error>
        A min of 5 letters required
      </mat-error>
    }
    @if (imageTitle.errors?.['maxlength']) {
      <mat-error>
        A max of 60 letters allowed
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="auto">

    <mat-label>Preis in €</mat-label>
    <input matInput formControlName="price" #price>

    <mat-hint align="end">
      Preis in €
    </mat-hint>

    @if (imageTitle.errors?.['minlength']) {
      <mat-error>
        A min of 5 letters required
      </mat-error>
    }
    @if (imageTitle.errors?.['maxlength']) {

    }
  </mat-form-field>

  <ng-container formArrayName="usagePurpose">
    <h4>Verwendungszeck</h4>
    <mat-grid-list cols="2" rowHeight="40px">
    @for(purpose of Object.values(UsagePurpose); track $index){
      <mat-grid-tile [colspan]="1" >
        <mat-checkbox [formControlName]="$index">
          {{purpose}}
        </mat-checkbox>
      </mat-grid-tile>
    }
    </mat-grid-list>
    @if(usagePurpose.errors?.['invalidSize'] && (usagePurpose.dirty)){
      <mat-error style="margin-left: 10px">
        Es muss mindestens ein Verwendungszweck ausgewählt werden.
      </mat-error>
    }
  </ng-container>

    <mat-form-field>
      <mat-label>Datum aussuchen</mat-label>
      <input matInput [matDatepicker]="myDatepicker" formControlName="validity">
      <mat-datepicker-toggle matIconSuffix [for]="myDatepicker"/>
      <mat-datepicker #myDatepicker/>
    </mat-form-field>

  <mat-form-field >
    <mat-label>Projekt</mat-label>
    <select matNativeControl required formControlName="project">
      <!--TODO: Dynamische Liste von Projekten -->
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-hint>Tags können durch , separiert werden</mat-hint>
    <textarea matInput formControlName="tags"></textarea>
  </mat-form-field>


</div>



